<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes App</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div id="app">
    <button @click="clearAllCards">Clear All</button>
    <div class="column" v-for="(column, index) in columns" :key="index">
        <h2>{{ column.title }}</h2>
        <div class="card" v-for="(card, cardIndex) in column.cards" :key="cardIndex">
            <h3>{{ card.title }}</h3>
            <ul>
                <li v-for="(item, itemIndex) in card.items" :key="itemIndex">
                    <input type="checkbox" v-model="item.done" @change="updateItem(card, itemIndex)">
                    {{ item.text }}
                </li>
            </ul>
        </div>
        <button v-on:click="addCard(column)" :disabled="column.locked || column.cards.length >= column.maxCards">Add card</button>
    </div>
</div>
<script src="js/vue.js"></script>
<script src="js/main.js"></script>
</body>
</html>